@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif !important;
}

html,
body {
  font-family: 'Montserrat', sans-serif !important;
  @apply bg-slate-50 text-dark;
}

input,
button,
select,
textarea,
optgroup {
  font-family: 'Montserrat', sans-serif !important;
}

@keyframes gradient {

  0%,
  100% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradient 3s ease infinite;
}